<HTML>
    <BODY bgcolor="cyan">
    <form method="POST" action="">
        <center>
        <H1>Enter your details </H1> <br>
        Patient Name <input type = "text" name= "name" /> <br>
        Patient ID <input type = "text" name = "id" /> <br>
        Date Admitted <input type = "text" name= "date" /> <br>
        On Ventilator <input type = "text" name = "onVent" /> <br>
        Room Number <input type = "text" name = "RoomNumber" /> <br>
        <input type = "submit">
        </center>
    </form>
    </BODY>
    </HTML>